.card-body {
	background-color: #ff5c5c;
}
.card-title {
	background-color: #161e67;
}
.card-body {
	color: #ffffff;
}
.container {
	background-color: #161e67;
}
h5, p {
	text-align: center;
}
.card-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.card-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        background-color: #161e67;
}

 
.grid {
  background-color: #444;
  color: #fff;
  padding: 25px;
  font-size: 3rem;
}
.header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #161e67;

}
.navbar {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #161e67;
}
.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: #a0c263;
}
.content {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background: black;
  /*height: 400px;*/
}
.extra {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background: #898989;
}
 
.footer {
  /*grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;*/
  background: #FFA500;
}
footer {
	color: white;
} 
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 1rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .slide {
  	background-color: #161e67;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
